<div class="container-fluid mt-4" >
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <div *ngFor="let question of questions">
        <div class="card mt-3" style="width: 45rem; border-width: 1px">
          <div class="card-body mt-1">
            <div class="container">
              <h5 class="card-title mt-1">{{question.title}}</h5>
              <p class="card-text mt-1">{{question.body}}</p>
              <a href="#" class="card-link">{{question.date_created}}</a>
              <a href="#" class="card-link">{{question.user ? question.user.name : null}}</a>
            </div>
          </div>
        </div>
        </div>


      </div>
      <div class="col-sm-4">
        <div class="card mt-3" style="width: 18rem; height: 20rem; border-width: 1px">
          <div class="container">
          <div class="card-body mt-1">
           <app-tags-list (tagEvent)="processTag($event)"></app-tags-list>
          </div>
          </div>
      </div>
    </div>
  </div>
</div>
</div>
