<!--<div *ngIf="info.token; else loggedOut">-->
  <!--&lt;!&ndash;<nav class="navbar navbar-dark bg-company-black background">&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="container-fluid">&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="navbar-header">&ndash;&gt;-->
        <!--&lt;!&ndash;<a routerLink="../question-list" class="navbar-brand background">Questions!!!</a>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="nav-header">&ndash;&gt;-->
        <!--&lt;!&ndash;<a routerLink="./addform" class="navbar-brand background">Add Question</a>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
  <!--&lt;!&ndash;</nav>&ndash;&gt;-->

  <!--&lt;!&ndash;<nav class="navbar navbar-expand-sm navbar-light bg-dark navbar-dark">&ndash;&gt;-->
    <!--&lt;!&ndash;<a class="navbar-brand" href="#">Discussion Forum</a>&ndash;&gt;-->
    <!--&lt;!&ndash;<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">&ndash;&gt;-->
      <!--&lt;!&ndash;<span class="navbar-toggler-icon"></span>&ndash;&gt;-->
    <!--&lt;!&ndash;</button>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="collapse navbar-collapse" id="navbarNavAltMarkup">&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="navbar-nav">&ndash;&gt;-->
        <!--&lt;!&ndash;<a class="nav-item nav-link active" routerLink="../question-list">Questions!!<span class="sr-only">(current)</span></a>&ndash;&gt;-->
        <!--&lt;!&ndash;<a class="nav-item nav-link" routerLink="../addform">Ask Question</a>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
  <!--&lt;!&ndash;</nav>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

  <!--<router-outlet></router-outlet>-->

<!--</div>-->


<router-outlet></router-outlet>
